[submodule "ler"]
	path = ler
	url = git@github.com:hemantaph/ler.git
[submodule "gwsnr"]
	path = gwsnr
	url = https://github.com/hemantaph/gwsnr.git
[submodule "golum"]
	path = golum
	url = https://git.ligo.org/justin.janquart/golum
[submodule "projects/strong-lensing-odds-ratio"]
	path = projects/strong-lensing-odds-ratio
	url = git@github.com:ohannuks/strong-lensing-odds-ratio.git
